.heading {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #EAF5F1;
  }

  &__main-title {
    font-size: 85px;
    font-weight: 700;
  }

  &__second-title {
    font-size: 60px;
    font-weight: 300;
  }

  &__top-photo {
    position: absolute;
    top: 35%;
    width: 313px;
    left: 75%;
    transform: translate(-75%, -35%);
    pointer-events: none;
    user-select: none;
  }
}
