.header {
  padding: 15px 0;
  background-color: #000000;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: all .2s ease-out;

    &-icon {
      width: 50px;
    }

    &-text {
      margin-left: 10px;
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
    }

    &:hover {
      opacity: .7;
    }
  }

  &__nav {
    margin-left: auto;
    display: flex;

    &-item {
      transition: all .2s ease-out;
      color: #ffffff;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        pointer-events: none;
        transition: all .2s ease-out;
        background: url("covid-icon.svg") no-repeat center center;
      }

      &::before {
        left: calc(100% + 5px);
      }

      &::after {
        right: calc(100% + 5px);
      }

      &:hover {
        //opacity: .7;
        color: #ffffff;

        &::before,
        &::after {
          opacity: 1;
        }
      }

      &.active {
        font-weight: 700;

        &:hover {
          opacity: 1;
        }
      }

      & + & {
        margin-left: 50px;
      }
    }
  }
}
